*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

main{
    width: 100%;
    height: auto;
    position: absolute;
}
#che{
    margin-left: 10px;
}
.content-all{
    width: 100%;
    max-width: 2000px;
    background:#fd50a1;
    margin: auto;
    margin-top: 80px;
}

header{
    width: 100%;
    height: 60px;
    position: fixed;
    left: 0;
    top: 0;
    background:#fd50a1;
}

#check{
    display: none;
}

#check:checked ~ .menu{
    width: 380px;
}

.menu{
    position: fixed;
    top: 60px;
    width: 0px;
    height: 100vh;
    background: #8e4597;
    transition: all 500ms cubic-bezier(1,0,0,1);
    transition-timing-function: cubic-bezier(1,0,0,1.2);
    overflow: hidden;
}
.menu li{
    list-style: none;
    padding: 16px;
    color: white;
    cursor: pointer;
    transition: all 300ms;
    display: block;
    width: 400px;
}

.menu li:hover{
    background: rgba(0,0,0,0.2);
}



.content-all label{
    position: fixed;
    width: 100%;
    max-width: 1000px;
    top: 14px;
    font-size: 26px;
    color: white;
    cursor: pointer;
    z-index: 10;
}

#logo{
    position: fixed;
    width: 100%;
    padding-right: 20px;
    top: 14px;
    font-size: 26px;
    text-align: right;
}

#logol{
    width: 15%;
}


.slidershow{
    width: 400px;
    overflow: hidden;
    margin-bottom: 50px;
    z-index: -1;
  }
  
  .middle{
    position: absolute;
    top: 61%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .navigation{
    position: absolute;
    top: 5.2%;
    left: 88%;
    transform: translateX(-50%);
  }
  
  .bar{
    width: 10px;
    height: 50px;
    border: 2.5px solid rgb(8, 6, 6);
    margin: 6px;
    cursor: pointer;
  }
  
  .bar:hover{
    background: rgb(141, 25, 25);
  }
  
  input[name="r"]{
    position: absolute;
    visibility: hidden;
  }
  
  .slides{
    width: 500%;
    height: 100%;
    display: flex;
  }
  
  .slide{
    width: 20%;
    transition: 0.6s;
  }
  
  .slide img{
    width: 100%;
    height: 100%;
  }
  
  #r1:checked ~ .s1{
    margin-left: 0;
  }
  
  #r2:checked ~ .s1{
    margin-left: -20%;
  }
  
  #r3:checked ~ .s1{
    margin-left: -40%;
  }
  
  #r4:checked ~ .s1{
    margin-left: 0;
  }
  
  #r5:checked ~ .s1{
    margin-left: -1%;
  }
  







