<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <title>Post</title>
</head>

<body>
    <div id="produc">
       <div id="comentario">
            <h4>Agregar comentario</h4>
            <input type="text" v-model="documento_cliente" name="documentoc" placeholder="DocumentoCliente">
            <input type="text" v-model="documento_usuario" name="documentousuario" placeholder="DocumentoUsuario">
            <input type="text" v-model="comentario" name="comentario" placeholder="Comentario">
            <button type="button " v-on:click="crear()" class="submit-btn">Agregar</button>
       </div>
    </div>
    <div id="">
        
    </div>
    <script src="js/post.js"></script>
</body>

</html>